header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 88px;
    max-height: 66px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cart-wrap {
    position: relative;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.cart-value {
    background-color: #959DAD;
    border-radius: 50%;
    position: absolute;
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -4px;
    right: 3px;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    color: #fff;
    
}
@keyframes shake-cart {   
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    10%, 30% {
        transform: rotate(-10deg);
    }
    20%, 40% {
        transform: rotate(10deg);
    }
}
.shaked {
    animation: shake-cart 1.2s ease;
}