@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 272px auto;
}
*{
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: inherit;
}

p {
    margin: 0
}


@import 'modules/header.scss';
@import 'modules/catalog.scss';
@import 'modules/product-list.scss';
